
body{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

#main-grid{
    display:flex;
    flex-flow:row wrap;  
    gap:1px;
    height: 700px;
    width: 700px;
    padding:10px;
    
}

.grid{
    height: 100px;
    display: flex;
    flex:1 1 30%;
    justify-content: center;
    justify-self: 1px center;
}

.image{
    height: 200px;
    width: 150px;
    box-shadow: 5px 4px rgb(117, 117, 117);
}

